# Ignore node_modules in both frontend and backend
node_modules/
todo-frontend/node_modules/
todo-backend/node_modules/

# Ignore package-lock.json or yarn.lock
package-lock.json
yarn.lock

# Ignore build and env files
todo-frontend/dist/
todo-backend/dist/
.env
.DS_Store
